:root {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'DS Arabic';
    src: url('./fonts/DSArabic/arab3end.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'DS Arabic';
    text-align: center;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: #333;
    margin: 0;
    width: 100%;
}

.img-fluid {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container.marketing {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 768px) {
    /* p{
        padding: 1em;
    } */
    .featurette-divider {
        margin: 4rem 0 !important;
    }

    .img-fluid {
        display: none;
    }

    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }

    h1 {
        font-size: 7vh;
    }

    .text-section,
    .image-section {
        width: 100%;
        text-align: justify;
    }

    .first-section {
        justify-content: space-evenly !important;
        flex-direction: column-reverse;
        height: auto;
        padding: 20px;
        height: 100vh !important;
        padding: 10px !important;
    }
}

.first-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    color: #333;
    padding: 20px;
}

@media (min-width: 769px) {
    .img-fluid {
        max-width: 100%;
        background-image: url('./public/2.png');
    }

    h1 {
        font-size: 10vh;
    }

}


h2 {
    color: #333;
    text-align: center;
}

p {
    line-height: 1.6;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
}

.text-section {
    width: 50%;
}

.image-section {
    width: 50%;
    text-align: center;
}

.featurette-divider {
    margin: 7rem 0;
}
/* 
li a {
    color: #212529;
} */